STARTERAPP_ENV=development
STARTERAPP_POSTGRES_USER=starterapp
STARTERAPP_POSTGRES_PWD=starterapp
STARTERAPP_POSTGRES_HOST=127.0.0.1
STARTERAPP_POSTGRES_PORT=5432
STARTERAPP_POSTGRES_DATABASE=starterapp_db

# APIs
GEMINI_API_KEY=your_gemini_api_key_here

